
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTester_setupLabel">Create or edit a Tester Setup</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tester_setup.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tester_setup.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_test_name">Test Name</label>
            <input type="text" class="form-control" name="test_name" id="field_test_name"
                    ng-model="vm.tester_setup.test_name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_product">Product</label>
            <input type="text" class="form-control" name="product" id="field_product"
                    ng-model="vm.tester_setup.product"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_quater">Quater</label>
            <input type="text" class="form-control" name="quater" id="field_quater"
                    ng-model="vm.tester_setup.quater"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_week">Week</label>
            <input type="text" class="form-control" name="week" id="field_week"
                    ng-model="vm.tester_setup.week"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.tester_setup.status"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
